/* add custom styles */
.highlight {
  background-color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

ul
{
    list-style-type: none;
}

.title {
  font-size: 20px;
}

.sale {
  color: orange;
}
