<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <h1>Angular Nation</h1>
    <br>
    <p>{{2 * 6}}<p>
    <br>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>
    <br>
    <label for="name">What's your name?</label>
    <input type="text" ng-model="name" ng-init="name='Ashley'" placeholder="What is your name?">
    <br>
    <h3>My name is: {{name}}</h3>


    <div class="dropdown">
    <label for="name">What do you love?</label>
      <select class="selectpicker" ng-model="picker">
        <option>cats</option>
        <option>dogs</option>
        <option>cats and dogs</option>
        <option>nothing.</option>
      </select>
    </div>
    <br>
    <h3>I love {{picker}}</h3>
    <br>

    {{3.14159265359 | currency : "€" }}

    <br>

    <label for="say-something">Please say something...</label>
    <input type="text" ng-model="say" placeholder="Say something...">
    <br>
    <h2>Yelling: {{say | uppercase }}</h2>
    <h4>Whispering: {{say | lowercase}}</h4>

    <br>
    {{3.14159265359 | number:3}}
    <br>
    {{3.14159265359 | number:6}}
    <br>
    {{3.14159265359 | number:1}}
    <br>
    <br>
    <br>

    <div class="dropdown">
    <label for="name">How many digits of PI?</label>
      <select class="selectpicker" ng-model="pi">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <br>
    <h4>Here you go, the first {{pi}} digits of PI!</h4>
    <br>
    {{3.14159265359 | number: pi}}
    <br>
    <br>

    <h3>Super Useful Tip Calculator</h3>
    <label for="meal-cost">How much did your meal cost?</label>
    <input type="number" ng-model="meal">
    <div class="dropdown">
      <label for="tip">How much do you want to tip?</label>
      <select class="selectpicker" ng-model="tip">
        <option value="15">15%</option>
        <option value="18">18%</option>
        <option value="20">20%</option>
      </select>
    </div>

    <h4>Subtotal: {{meal/100*tip+meal | number: 2 | currency:"$"}}</h4>
    <h4>Tip: {{meal/100*tip | number: 2 | currency:"$"}}</h4>
    <br>
    <br>
<!--  -->
    <div ng-controller="GreetingController">

         <div>
        {{greetings}}
        </div>

        <br>
        <br>

        <ul ng-repeat="name in names">
          <li  >
            {{name}}
           </li>
        </ul>

        <br>
        <br>

        <ul>
          <li ng-repeat="symbol in symbols">
            {{symbol}}
           </li>
        </ul>

        <ul ng-repeat="thing in things track by $index">
          <li>
            {{thing}}
           </li>
        </ul>

        <ul ng-repeat="(key, value) in data">
          <li>
            {{key}}
           </li>
        </ul>

    </div>

        <div ng-show="3 + 4 == 5">
          3 + 4 isn't 5, don't show
        </div>

        <div ng-show="3 + 4 == 7">
          3 + 4 is 7, do show
        </div>

        <div ng-hide="3 + 4 == 5">
            3 + 4 isn't 5, don't hide
        </div>

        <div ng-hide="3 + 4 == 7">
          3 + 4 is 7, do hide
        </div>
        <br>
        <br>
        <form>
            <div class="form-group">
                <label for="password">Sign Up Page</label>
                <input type="password" class="form-control" placeholder="Password" ng-model="password" ng-class="{red: password.length <= 5, green: password.length > 5}">
                <p ng-class="{red: password.length <= 5, green: password.length > 5}">Your password is {{ password.length }} characters</p>
            </div>
            <div ng-show="password.length > 5">
                <button type="submit" class="btn btn-default">Sign Up!</button>
            </div>
            <div ng-hide="password.length > 5">Password is invalid!</div>
        </form>
        <br>
        <br>
        <div ng-class="{highlight: 4 + 4 == 8}"> 4 + 4 = 8</div>
        <div ng-class="{highlight: 4 + 4 == 10}">4 + 4 = 10</div>
        <br>
        <br>

        <br>
        <br>

        <br>
        <br>

        <br>
        <br>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/vanilla.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script>
        var myApp = angular.module('myApp',[]);
        myApp.controller('GreetingController', ['$scope', function($scope) {
            $scope.greetings = 'Hola!';
            $scope.names = ["Harry", "Ron", "Hermione", "Sirius", "Hedwig", "Tonks"];
            $scope.symbols = ["&spades;", "&clubs;", "&hearts;", "&diams;"];
            $scope.things = [1, 1, 2, 5, 6, 9, 9, 9];
            $scope.data = {
                drink: "beer",
                food: "pizza",
                study: "none"
            }
        }]);
        </script>
  </body>
</html>
