<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>World</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <div ng-controller="reddit">

    <!-- form -->
        <form name="newPost">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="text" placeholder="Title" ng-model="title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Author" ng-model="author"required>
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" class="form-control" id="image" placeholder="Image URL" ng-model="image">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" ng-model="description" required>
            </div>

            <button type="submit" class="btn btn-success" ng-click="addPost()">Submit Post</button>
        </form>
        <br>
        <br>



    <!-- end form -->
<!-- ng-repeat="post in posts" -->
    <!-- content -->
    <div class="content-wrapper" ng-repeat="post in posts | filter: search">
        <div class="row main-row" >
            <div class="col-md-2">
                <img src= "{{post.image}}" alt='picture' height="120px" width="150">
            </div>

            <div class="col-md-8 content">
                <!-- <div > -->
                    <h4>{{post.title}}</h4>
                <!-- </div> -->
                <!-- <div > -->
                    <h5>{{post.author}}</h5>
                <!-- </div> -->
                <!-- <div > -->
                    <p>{{post.description}}</p>
                <!-- </div> -->
                <!-- <div > -->
                <h6>{{post.date | date : format : fullDate}} | {{post.comments}} comments | <span>add comment</span></h6>
                <!-- </div> -->
            </div>
        </div>
        <br>
    </div>
        <!-- end content -->


    </div>
    <br>





    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
